<footer class="my-5 pt-5 text-muted text-center text-small fixed-bottom bg-light">
    <div class="container-fluid">
        <p class="mb-1">&copy; Bucket-List2 {{ "now"|date("Y") }}</p>
    </div>
</footer>
